.gradle
/local.properties
.DS_Store
/build
/captures

my-release-key.keystore
tasomaniac.p12
release.signing
secrets.properties

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
.idea/*

# IDEA/Android Studio Ignore exceptions
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles
!.idea/encodings.xml
!.idea/copyright/
!.idea/compiler.xml
