.gradle
/local.properties
.DS_Store
build
/captures

my-release-key.keystore
play-service-account.json
*.pepk
release.signing

# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
.idea/*

# IDEA/Android Studio Ignore exceptions
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles
!.idea/runConfigurations
!.idea/encodings.xml
!.idea/copyright/
!.idea/dictionaries
!.idea/compiler.xml
